.Ingredients {
background-color: #FFF;
margin-left: 10px;
padding: 20px;
}

.dishImg img{
width: 100%;
border: 0px;
border-radius: 10px;
}

.totalPrice{
margin-top: 10px;
text-align: center;
border-top: 1px solid #000;
font-family: Futura;
padding: 10px;
}