.Ingredients {

max-width:800px;
min-width: 320px;
background-color: #FFF;
margin-left: 10px;
padding: 20px;
}

.heading{
width:100%;
}

.col-sm-6 {
width: 50%;
display: inline-block;
vertical-align: top;
}

.col{
padding: 10px;
}

.dishImg img{
width: 100%;
}
