.Dishes {
width: 100%;
background-color: #FFF;
margin-left: 10px;
padding: 20px;
min-width: 320px;
max-width: 800px;

}

.dishItems{
text-align: center;
}

.dishImgDiv {
margin-right: 10px;
width: 150px;
height: 150px;
}

.dishImgDiv img{
height:150px;
width:100%;
object-fit: cover;
border:0px;
border-radius: 5px;
}

.dishItemDiv {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	transition: all .2s ease-in-out;
display: inline-block;
width:150px;
margin: 5px;
margin-bottom: 20px;
vertical-align: top;
}

.dishItemDiv:hover {
	transform: scale(1.1);
}

.dishTitle {
width:100%;
font-family: Futura;
font-size: 14px;
text-align: center;
padding-right: 5px;
}

.heading{
font-size: 18px;
font-family: Futura;
padding: 5px;
}

