.Dishes {
background-color: #FFF;
padding: 20px;
width: 100%;
}

#searchBar{
padding:10px;
margin-bottom: 10px;
background: #f2f2f2;
border: 0px;
border-radius: 5px;
}

#searchBar input{
width: 200px;
padding: 5px;
display: inline-block;
border: 0px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-right: 10px;
font-family: Futura;
}

#searchDishType{
background: #fff;
height: 30px;
overflow: hidden;
border: 0px;
font-family: Futura;
margin-right: 10px; 
}

.dishItems{
text-align: center;
}

.dishImgDiv {
margin-right: 10px;
width: 150px;
height: 150px;
}

.dishImgDiv img{
height:150px;
width:100%;
object-fit: cover;
border:0px;
border-radius: 5px;
}

.dishItemDiv {
transition: all .2s ease-in-out;
display: inline-block;
width: 150px;
margin: 5px;
margin-bottom: 20px;
vertical-align: top;
}

.dishItemDiv:hover {
transform: scale(1.05);
}

.dishTitle {
width:100%;
font-family: Futura;
font-size: 14px;
text-align: center;
padding-right: 5px;
}